    * {
    	margin: 0;
    	padding: 0;
    	box-sizing: border-box;
    }

    body {
    	font-family: Arial, sans-serif;
    	margin: 2rem;
    	max-width: 600px;
    	background: #f3b4b43f;
    }

    .formulario {
    	background-color: #d89ddd13;
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
    	width: 30dvw;
    	height: 65dvh;
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    	border-radius: 20px;
    	padding: 1em;
		border: 1px solid #5f3a5d;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		background-color: #f3b4b43f;
		overflow-y: auto;
		overflow: scroll;

    	& h1 {
    		text-align: center;
    	}
    }

    form {
    	display: flex;
    	flex-direction: column;
    	flex-wrap: wrap;
    	align-items: center;
    	width: 90%;
    }

    button {
    	width: 30%;
    	padding: 10px;
    	margin-top: 1rem;
    	background-color: #5f3a5d;
    	color: white;
    	border: none;
    	border-radius: 5px;
    	cursor: pointer;
    	transition: .2s ease;
    }

    .doisLabels {
    	display: flex;
    	flex-direction: row;
    	justify-content: space-between;
    	width: 100%;

    	& label {
    		width: 45%;
    	}

    	& input {
    		width: 100%;
    	}
    }

    button:hover {
    	background-color: #a369a0;
    	transform: scale(.9);
    }

    .container {
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    	justify-content: center;
    	height: 100vh;
    }

    .success {
    	color: green;
    	margin-top: 1rem;
    	font-weight: bold;
    }

    label {
    	display: flex;
    	flex-direction: column;
    	margin-top: 1.5rem;
    	width: 100%;

    	& input {
    		align-self: center;
    	}

    	& div {
    		align-self: center;
    	}
    }

    input {
    	width: 100%;
    	padding: 8px;
    	margin-top: 0.2rem;
    	height: 3em;
    	border-radius: 10px;
    	border: 1px solid rosybrown;
    	background-color: rgba(188, 143, 143, 0.171);
    }

    input:focus {
    	outline: 1px solid rosybrown;
    }

    .error {
    	color: red;
    	font-size: 0.9em;
    }